
.single-responsibility-exercise {
  background-color: black;
  height: 100%;
  inset: 0;
  padding-left: 50px;
  padding-right: 50px;

  &__title, &__sub-title, &__results, &__description {
    color: #39ff14;
    text-shadow: 0 0 5px #C8C8C8;
  }


  &__title, &__sub-title {
    font: 45px Inconsolata, monospace;
  }

  &__title {
    margin-top: 70px;
  }

  &__results, &__description {
    font: 25px Inconsolata, monospace;
  }

  &__movie-posters {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
     img {
       width: 180px;
       height: 290px;
       margin: 0 40px;
     }
  }
}
